.country-container {
  border-radius: 10px;
  /* border: 1px solid black; */
  margin-top: 1rem;
  text-transform: capitalize;
  background-color: white;
  height: auto;
  width: 320px;
}
.country-img {
  border-radius: 10px;
}
.master-country-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.144);
}
.country-info-container {
  margin-left: 1rem;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}

/* Dropdown styling */

.click {
  background-color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.click:hover {
  background-color: #0000009c;
}

.click,
.links {
  padding: 5px;

  font-size: 1.2em;

  font-family: futura Md BT;

  border: none;

  outline: none;

  width: 200px;

  color: #fff;

  transition: 0.3s;
}

.list {
  position: absolute;

  transform: scaleY(0);

  transform-origin: top;

  transition: 0.3s;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #000000;
}

.links:hover {
  background-color: #01579b;

  transform: scale(1.1);
  cursor: pointer;
}
/* End of Dropdown styling */
