.country-container {
  border-radius: 10px;
  /* border: 1px solid black; */
  margin-top: 1rem;
  text-transform: capitalize;
  background-color: white;
  height: auto;
  width: 320px;
}
.search-bar {
  height: 2rem;
  font-size: 1.5rem;
  color: blueviolet;
}
.country-img {
  border-radius: 10px;
}
.master-country-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.144);
}

@media screen and (max-width: 480px) {
  .master-country-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.144);
  }
}
.country-info-container {
  margin-left: 1rem;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}
.country-link {
  text-transform: capitalize;
  padding: 0.5rem;
  background-color: #01579b;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
.country-selection {
  height: 2rem;
  font-size: 0.8rem;
  border: none;
  background-color: black;
  color: white;
}
.lable-selection {
  margin-right: 5px;
}
